* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --cyan: hsl(179, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: hsl(204, 43%, 93%);
    --Grayish-Blue: hsl(218, 22%, 67%);
}
body {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    height: 60vh;
    background-color: var(--Light-Gray);
}
.container {
    position: absolute;
    top: 6%;
    left: 25%;
    width: 100%;
    max-width: 650px;
    min-width: 280px;
    display: grid;
    grid-template-columns: 325px 325px;
    grid-template-rows: 230px 290px;
    /* background-color: #ffffff; */
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    box-shadow: -10px 12px 20px hsla(240, 18% ,77%, 0.52);
}
.about {
    grid-column: 1 / 3;
    padding: 40px;
    background-color: #ffffff;
    
}
.about h1 {
    color: var(--cyan);
}
.about h3{
    color: var(--Bright-Yellow);
    padding-top: 20px;
}
.about p {
    color:  var(--Grayish-Blue);
    padding-top: 15px;
}
.price,
.why {
    padding-top: 40px;
    padding-left: 40px;
    background-color: var(--cyan);
    color: #ffffff;
   
}
.price {
    width: 100%;
    height: auto;
    grid-column: 1;
    border-radius:0px 0px 0px 10px;
}
.price h3 {
    padding-bottom: 20px;
}
.price p {
    padding-bottom: 40px;
    opacity: 60%;
}
.dollar {
    font-size: 40px;
    font-weight: 700;
    display: inline;
}
.dollar span {
    font-size: 20px;
    display: table-cell; 
    vertical-align: middle;
    opacity: 60%;
    padding-bottom: 20px;
}
.why {
    width: 100%;
    grid-column: 2;
    opacity: 90%;
    padding-bottom: 30px;
    border-radius:0px 0px 10px 0px;
}
.why h3 {
    padding-bottom: 10px;
}

.why li {
    list-style-type: none;
    line-height: 1.7;
}

.btn {
    width: 230px;
    padding: 15px;
    color: #ffffff;
    background-color: var(--Bright-Yellow);
    border-width: 0;
    outline-style: none;
    border-radius: 5px;
    box-shadow: 3px 3px 20px var(--Grayish-Blue);
}
.btn:active {
    color: aqua;
    transform: translateY(6px);
}
@media screen and (max-width: 768px) {
    .container {
        left: 8%;
    }
}
@media screen and (max-width: 640px) {
    .container {
        width: 90%;
        max-width: 400px;
        grid-template-columns: 375px;
        grid-template-rows: repeat(3, 300px);
        position: absolute;
        top: 5%;
        left: 5%;
        overflow: hidden;

}
    .about {
        grid-column: 1 / 2;
    }
    .about h3 {
        margin-right: 15px;
    }
    .about p {
        margin-right: 10px;
    }
    .price {
        grid-row: 2 / 3;
        border-radius: 0px;
    }
.why {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
   }
}

